*{
   align-items: center;
   overflow-x: hidden;
}
#title{
    color:rgb(27, 27, 27);
font-size: 100%;
font-family: sans-serif;
text-align: center;
}
#main{
    background-color: whitesmoke;
}
.box{
    background-color: rgb(202, 202, 202);
    padding: 600px, 0px, 0px, 0px;
    margin: 20px, 20px, 20px, 20px;
    border-radius: 1%;
    text-align: center;
}
.text{
    color: rgb(36, 36, 36);
   text-align: center;
}
.hero{
    padding: 50px, 100px, 50px, 100px;
    background-color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-top: 20px;
}
.cool{
    color: rgb(68, 68, 68);
    padding: 20px;
    margin-right: 20px;
    display: block;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}
.cool h2{
    text-align: center;
}
.cool ul{
    display: block;
    text-align: left;
}
.cool ul li{
    display: list-item;
    margin: 16px;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.see{
    text-align: center;
}
@media screen and (max-width: 650px) {
    .box{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 5px;
    } 
    #title{
        text-align: center;
        margin: 0%;
    }
    .text{
        text-align: center;
        margin: 0%;
    }
    .image{
        width: 100%;
    }
    .cool{
        text-align: center;
        margin: 0%;
        width: 100%;
    }
}